<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>


	<div class="container pt-70">

		<h2 class = 'align-center'>Cursos </h2> 

		<div class = 'row mb-10'>
			<div class = 'container'>
				<button type="button" class="btn btn-default" id="agregarCurso" onclick="location.href='../newcourse';">
					<span class="glyphicon glyphicon-plus"></span> Agregar Curso
				</button>
			</div>

		</div>

		<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Paralelo</th>
					<th>Profesor</th>
					<th>No de Estudiantes</th>
					<th>Lista de estudiantes</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Paralelo</th>
					<th>Profesor</th>
					<th>No de Estudiantes</th>
					<th>Lista de estudiantes</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</tfoot>
			<tbody id="tablaDeCursos">

			</tbody>
		</table>
	</div>

	<div class="modal fade" id="modalAgregarUsuario">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Agregar Usuario</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form method="POST" action="/users/usuarios/">
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Nombres: </label>
							<div class="col-10">
								<input class="form-control" type="text" value="" id="nombreUsuario" name="nombreUsuario">
							</div>
						</div>
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Apellidos: </label>
							<div class="col-10">
								<input class="form-control" type="text" value="" id="apellidoUsuario" name="apellidoUsuario">
							</div>
						</div>                           
						<div class="form-group">
							<label for="exampleInputEmail1">Correo Electronico: </label>
							<input type="email" class="form-control" name="correoUsuario" id="correoUsuario" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password: </label>
							<input type="password" class="form-control" name="passwordUsuario" id="passwordUsuario" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleSelect1">Rol: </label>
							<select class="form-control" id="rolUsuario" name="rolUsuario">
								<option>Administrador</option>
								<option>Profesor</option>
								<option>Ayudante</option>
								<option>Estudiante</option>
							</select>
						</div>
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Identificacion: </label>
							<div class="col-10">
								<input class="form-control" type="text" value="" id="idUsuario" name="idUsuario">
							</div>
						</div>    
						<div class="form-group">
							<label for="exampleSelect1">Carrera: </label>
							<select class="form-control" id="carreraUsuario" name="carreraUsuario">
								<option>No Aplica</option>
								<option>Ingenieria en Automatizacion</option>
								<option>Ingenieria en Ciencias Computacionales</option>
								<option>Ingenieria en Telematica</option>
								<option>Ingenieria Civil</option>
								<option>Produccion Audiovisual</option>
								<option>Hoteleria y Turismo</option>
							</select>
						</div>

						<button type="submit" class="btn btn-primary">Guardar</button>
					</form>


				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalEditarUsuario">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Editar Usuario</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form method="POST" id="form-editar" action="/users/usuarios/">
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Nombres: </label>
							<div class="col-10">
								<input type="text" id="editNombreUsuario" name="editNombreUsuario">
							</div>
						</div>
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Apellidos: </label>
							<div class="col-10">
								<input type="text" id="editApellidoUsuario" name="editApellidoUsuario">
							</div>
						</div>                           
						<div class="form-group">
							<label for="exampleInputEmail1">Correo Electronico: </label>
							<input type="email" class="form-control" name="editCorreoUsuario" id="editCorreoUsuario" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password: </label>
							<input type="password" class="form-control" name="editPasswordUsuario" id="editPasswordUsuario">
						</div>
						<div class="form-group">
							<label for="exampleSelect1">Rol: </label>
							<select class="form-control" id="editRolUsuario" name="editRolUsuario">
								<option>Administrador</option>
								<option>Profesor</option>
								<option>Ayudante</option>
								<option>Estudiante</option>
							</select>
						</div>
						<div class="form-group">
							<label for="example-text-input" class="col-2 col-form-label">Identificacion: </label>
							<div class="col-10">
								<p value="" id="editIdUsuario" name="editIdUsuario"> </p>
							</div>
						</div>    
						<div class="form-group">
							<label for="exampleSelect1">Carrera: </label>
							<select class="form-control" id="editCarreraUsuario" name="editCarreraUsuario">
								<option>No Aplica</option>
								<option>Ingenieria en Automatizacion</option>
								<option>Ingenieria en Ciencias Computacionales</option>
								<option>Ingenieria en Telematica</option>
								<option>Ingenieria Civil</option>
								<option>Produccion Audiovisual</option>
								<option>Hoteleria y Turismo</option>
							</select>
						</div>

						<button type="submit" class="btn btn-primary">Guardar</button>
					</form>


				</div>
			</div>
		</div>
	</div>


	<%- include('footer.ejs') %>

	<script type="text/javascript" charset="utf-8">

		$(document).ready(function() {

			$("#tablaDeCursos").empty();
			$.get("/courses/cursos", function(data){
				console.log(data);
				for (var i = 0; i < data.length; i++){
					var registro = data[i];
					$("#tablaDeCursos").append("<tr><td>"+registro.paralelo+"</td><td>"+registro.profesor+"</td><td>"+registro.estudiantes.length+"</td><td><button type='button' onclick='location.href="+'"../course/'+registro.paralelo+'"'+";' class='btn btn-default ver-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-th-list' aria-hidden='true'></span></button></td> <td><button type='button' onclick='location.href="+'"../course/'+registro.paralelo+'"'+";' class='btn btn-default editar-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button></td><td><button type='button' class='btn btn-default eliminar-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button></td>"+"</tr>")
				}
/*
$(".editar-curso").click(function(){
identif_actual = $($(this).parent().siblings()[0]).text();
$("#form-editar").attr("action", "/users/usuarios/"+identif_actual);
tipo_actual = $($(this).parent().siblings()[1]).text();
nombres_actual = $($(this).parent().siblings()[2]).text();
apellidos_actual = $($(this).parent().siblings()[3]).text();
rol_actual = $($(this).parent().siblings()[4]).text();
correo_actual = $($(this).parent().siblings()[5]).text();
carrera_actual = $($(this).parent().siblings()[6]).text();
password_actual = $($(this).parent().siblings()[7]).text();

$("#editNombreUsuario").val(nombres_actual);
$("#editApellidoUsuario").val(apellidos_actual);
$("#editCorreoUsuario").val(correo_actual);
$("#editPasswordUsuario").val(password_actual);
$("#editRolUsuario").val(rol_actual);
$("#editIdUsuario").text(identif_actual);
$("#editCarreraUsuario").val(carrera_actual)
$("#modalEditarUsuario").modal('show');
});
*/

$(".eliminar-curso").click(function(){
	var aEliminar = this.id;
	var url = "/courses/cursos/"+aEliminar;
	$.ajax({
		url: url,
		type: 'DELETE',
		success: function(result){
		}
	})
	location.reload();
});

$('#example').DataTable();
});
		});

		$("#agregarCurso").click(function(){
			$("#modalAgregarCurso").modal('show');
		});




	</script>
</body>
</html>
