<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://138.201.30.170/fundamentos/web/index">Inicio <span class="sr-only">(current)</span></a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/curso">Curso</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/semanas">Planificación</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/equipo">Equipo</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/ayudantias">Ayudantías</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marcos Calderón <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://138.201.30.170/fundamentos/web/perfilProfesor">Perfil</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/practicarProfesor">Ejercicios</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/proyectos">Proyectos</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://138.201.30.170/fundamentos/web/index">Cerrar sesión</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Made Velasco <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://138.201.30.170/fundamentos/web/perfilEstudiante">Perfil</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/practicar">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://138.201.30.170/fundamentos/web/index">Cerrar sesión</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inicia sesión<span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                          <label class="sr-only" for="loginEmail">Dirección de correo</label>
                          <input type="email" class="form-control" id="loginEmail" placeholder="Correo ESPOL" required="">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="loginPassword">Contraseña</label>
                          <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña" required="">
                          <div class="help-block text-right"><a href="http://www.serviciosti.espol.edu.ec/ui/es/content/cta_elec/restablecer.aspx">¿Olvidaste la contraseña?</a></div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-block" id="menulogin">Entrar</button>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Mantenme conectado
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <br>
    <h2> Módulo de Cursos </h2> 
    <br>
    <div class="container">

      <button type="button" class="btn btn-default" id="agregarCurso">
        <span class="glyphicon glyphicon-plus"></span> Agregar Curso
      </button>
      
      <br>
      <br>

      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Paralelo</th>
                <th>Profesor</th>
                <th>Estudiantes</th>
                <th>Ver Mas</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Paralelo</th>
                <th>Profesor</th>
                <th>Estudiantes</th>
                <th>Ver Mas</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </tfoot>
        <tbody id="tablaDeCursos">

        </tbody>
    </table>
    </div>

    <div class="modal fade" id="modalAgregarUsuario">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Agregar Usuario</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="POST" action="/users/usuarios/">
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Nombres: </label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" id="nombreUsuario" name="nombreUsuario">
                </div>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Apellidos: </label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" id="apellidoUsuario" name="apellidoUsuario">
                </div>
              </div>                           
              <div class="form-group">
                <label for="exampleInputEmail1">Correo Electronico: </label>
                <input type="email" class="form-control" name="correoUsuario" id="correoUsuario" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password: </label>
                <input type="password" class="form-control" name="passwordUsuario" id="passwordUsuario" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Rol: </label>
                <select class="form-control" id="rolUsuario" name="rolUsuario">
                  <option>Administrador</option>
                  <option>Profesor</option>
                  <option>Ayudante</option>
                  <option>Estudiante</option>
                </select>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Identificacion: </label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" id="idUsuario" name="idUsuario">
                </div>
              </div>    
              <div class="form-group">
                <label for="exampleSelect1">Carrera: </label>
                <select class="form-control" id="carreraUsuario" name="carreraUsuario">
                  <option>No Aplica</option>
                  <option>Ingenieria en Automatizacion</option>
                  <option>Ingenieria en Ciencias Computacionales</option>
                  <option>Ingenieria en Telematica</option>
                  <option>Ingenieria Civil</option>
                  <option>Produccion Audiovisual</option>
                  <option>Hoteleria y Turismo</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalEditarUsuario">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Editar Usuario</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="POST" id="form-editar" action="/users/usuarios/">
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Nombres: </label>
                <div class="col-10">
                  <input type="text" id="editNombreUsuario" name="editNombreUsuario">
                </div>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Apellidos: </label>
                <div class="col-10">
                  <input type="text" id="editApellidoUsuario" name="editApellidoUsuario">
                </div>
              </div>                           
              <div class="form-group">
                <label for="exampleInputEmail1">Correo Electronico: </label>
                <input type="email" class="form-control" name="editCorreoUsuario" id="editCorreoUsuario" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password: </label>
                <input type="password" class="form-control" name="editPasswordUsuario" id="editPasswordUsuario">
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Rol: </label>
                <select class="form-control" id="editRolUsuario" name="editRolUsuario">
                  <option>Administrador</option>
                  <option>Profesor</option>
                  <option>Ayudante</option>
                  <option>Estudiante</option>
                </select>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-2 col-form-label">Identificacion: </label>
                <div class="col-10">
                  <p value="" id="editIdUsuario" name="editIdUsuario"> </p>
                </div>
              </div>    
              <div class="form-group">
                <label for="exampleSelect1">Carrera: </label>
                <select class="form-control" id="editCarreraUsuario" name="editCarreraUsuario">
                  <option>No Aplica</option>
                  <option>Ingenieria en Automatizacion</option>
                  <option>Ingenieria en Ciencias Computacionales</option>
                  <option>Ingenieria en Telematica</option>
                  <option>Ingenieria Civil</option>
                  <option>Produccion Audiovisual</option>
                  <option>Hoteleria y Turismo</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>


          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>


    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

          $("#tablaDeCursos").empty();
            $.get("/courses/cursos", function(data){
                console.log(data);
                for (var i = 0; i < data.length; i++){
                    var registro = data[i];
                    $("#tablaDeCursos").append("<tr><td>"+registro.paralelo+"</td><td>"+registro.profesor+"</td><td>"+registro.estudiantes.length+"</td><td><button type='button' class='btn btn-default ver-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-th-list' aria-hidden='true'></span></button></td> <td><button type='button' class='btn btn-default editar-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button></td><td><button type='button' class='btn btn-default eliminar-curso' id='"+registro.paralelo+"'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button></td>"+"</tr>")
                }
                /*
                $(".editar-curso").click(function(){
                  identif_actual = $($(this).parent().siblings()[0]).text();
                  $("#form-editar").attr("action", "/users/usuarios/"+identif_actual);
                  tipo_actual = $($(this).parent().siblings()[1]).text();
                  nombres_actual = $($(this).parent().siblings()[2]).text();
                  apellidos_actual = $($(this).parent().siblings()[3]).text();
                  rol_actual = $($(this).parent().siblings()[4]).text();
                  correo_actual = $($(this).parent().siblings()[5]).text();
                  carrera_actual = $($(this).parent().siblings()[6]).text();
                  password_actual = $($(this).parent().siblings()[7]).text();

                  $("#editNombreUsuario").val(nombres_actual);
                  $("#editApellidoUsuario").val(apellidos_actual);
                  $("#editCorreoUsuario").val(correo_actual);
                  $("#editPasswordUsuario").val(password_actual);
                  $("#editRolUsuario").val(rol_actual);
                  $("#editIdUsuario").text(identif_actual);
                  $("#editCarreraUsuario").val(carrera_actual)
                  $("#modalEditarUsuario").modal('show');
                });
                */

                $(".eliminar-curso").click(function(){
                  var aEliminar = this.id;
                  var url = "/course/curso/"+aEliminar;
                  //Faltaria agregar un mensaje de confirmacion. Y que recargue la pagina
                  $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(result){
                      
                    }
                  })
                  location.reload();
                });

                $('#example').DataTable();
            });
        });

        $("#agregarCurso").click(function(){
          $("#modalAgregarCurso").modal('show');
        });



        
    </script>
  </body>
</html>
