<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<div class = 'container pt-70 pb-20' id='reportes'>
		<div class = 'row pt-20 pb-20'>
			<h1 class = 'align-center pb-20'>Envio de Ejercicio</h1>
			<div class = 'col-md-12'>
				<h3 class = 'align-center'>Ejercicios Erroneo! Vuelva a Intentarlo</h3>

			</div>
		</div>
	</div>
	<%- include('footer.ejs') %>

	<script type="text/javascript" charset="utf-8">

    </script>


</body>
</html>