<!DOCTYPE html>
<html>
  <%- include('header.ejs') %>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://138.201.30.170/fundamentos/web/index">Inicio <span class="sr-only">(current)</span></a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/curso">Curso</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/semanas">Planificación</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/equipo">Equipo</a></li>
            <li><a href="http://138.201.30.170/fundamentos/web/ayudantias">Ayudantías</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marcos Calderón <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://138.201.30.170/fundamentos/web/perfilProfesor">Perfil</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/practicarProfesor">Ejercicios</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/proyectos">Proyectos</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://138.201.30.170/fundamentos/web/index">Cerrar sesión</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Made Velasco <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://138.201.30.170/fundamentos/web/perfilEstudiante">Perfil</a></li>
                <li><a href="http://138.201.30.170/fundamentos/web/practicar">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://138.201.30.170/fundamentos/web/index">Cerrar sesión</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inicia sesión<span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                          <label class="sr-only" for="loginEmail">Dirección de correo</label>
                          <input type="email" class="form-control" id="loginEmail" placeholder="Correo ESPOL" required="">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="loginPassword">Contraseña</label>
                          <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña" required="">
                          <div class="help-block text-right"><a href="http://www.serviciosti.espol.edu.ec/ui/es/content/cta_elec/restablecer.aspx">¿Olvidaste la contraseña?</a></div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-block" id="menulogin">Entrar</button>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Mantenme conectado
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <br>
    <h2> Ejercicios </h2> 
    <br>

    <div class="container pt-70 pb-50">
      <h1 class = 'clr-light-blue'>Seleciione el Nivel de Dificultad</h1>
      <hr>
      <div class="form-group">
        <div class = 'row pt-15'>
            <div class = 'col-md-3 col-xs-6'>
              <label for="project-description">Dificultad</label>
              <select class="form-control" id="selectNivelEjercicioEs" name="nivelEjerEstu">
                <option>Fácil</option>
                <option>Medio</option>
                <option>Difícil</option>
              </select>
            </div>
          </div>
          <div>
            
          </div>
          <div>
            <button type="submit" class="btn btn-primary seleccionar-ejercicio">Buscar Ejercicio</button>
          </div>
      </div>    
      <div class="row mt-xs-20 mt-md-20 mt-lg-20 pb-50">
        <div id="exitoejercicio">
        </div>
        <!-- Tabs -->
        <ul class="nav nav-tabs" role="tablist" id = 'curso-tabs'>
          <li role="presentation" class="active"><a href="#problema" aria-controls="problema" role="tab" data-toggle="tab">Problema</a></li>
          <li role="presentation"><a href="#envios" aria-controls="envios" role="tab" data-toggle="tab">Envíos</a></li>
        </ul>
        <!-- Paneles -->
        <div class="tab-content mt-lg-20">
          <div role="tabpanel" class="tab-pane fade in active" id="problema">
            <h3 id="tituloEjer"></h3>
            <br>
            <h4><strong>Descripción</strong></h4>
            <p id="desEjer"></p>
            <h4><strong>Datos de Entrada</strong></h4>
            <p id="datosEntraEjer"></p>
            <h4><strong>Datos de Salida</strong></h4>
            <p id="datosDeSalEjer"></p>
            <br>


         

            <div class = 'row'>
              <div class = 'col-md-8'>
                <label class="control-label">Subir tu código como archivo</label>
                <input id="input-4" name="input4[]" type="file" multiple class="file-loading ">
               <!--  <script>
                  $(document).on('ready', function() {
                    $("#input-4").fileinput({showCaption: false});
                  });
                </script> -->
              </div>
              <div class = 'col-md-2'>
                <a href="#" class = "btn common-btn">Probar código</a>
              </div>
              <div class = 'col-md-2'>
                <a href="#" class = "btn common-btn" onclick="mensajeDeExito();">Enviar código</a>
              </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="envios">
            <div class = 'well'>
              <div class = 'row pt-20 pb-20'>
                <div class = 'align-center'>
                  No has realizado algún envío aun.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('footer.ejs') %>
    
   <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

                $(".seleccionar-ejercicio").click(function(){

                  var nivel = $(".selectNivelEjercicioEs").text();
                  console.log(nivel);
                  var url = "/ejercicios/find/seleccionado/" + "Medio";
                  
                 $.get(url, function(ejercicios){
                   // console.log(ejercicios);
                    //console.log(ejercicios[0].titulo);
                    $("#tituloEjer").text(ejercicios[0].titulo);
                    $("#desEjer").text(ejercicios[0].descripcion);
                    $("#datosEntraEjer").text(ejercicios[0].datosEntrada);
                    $("#datosDeSalEjer").text(ejercicios[0].datosSalida);
                    

                 })

                  //location.reload();
                });

        });
       
             
    </script>
 

  </body>
</html>
