	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<footer class = 'mt-50'>
	<nav class="navbar navbar-default mb-0 pb-0 ">
		<div class="container-fluid">
			<div class="navbar-header pt-10 ">
				<div class = 'align-center'>
					Página Web de Fundamentos de Programación - 2016
				</div>
			</div>
		</div>
	</nav>
</footer>