<footer class = 'mt-50'>
	<nav class="navbar navbar-default mb-0 pb-0 ">
		<div class="container-fluid">
			<div class="navbar-header pt-10 ">
				<div class = 'align-center'>
					Página Web de Fundamentos de Programación - 2016
				</div>
			</div>
		</div>
	</nav>
</footer>