<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="" onclick="javascript:event.target.port=8000">Fundamentos de programación <span class="sr-only"></span></a></li>
            <li><a href="/" >Inicio<span class="sr-only"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
             <% if (!user) { %>
              <li >
                <a href="/login" >Inicia sesión</a>
              </li>
            <% } else if (user.rol == "Estudiante"){ %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.nombres + ' ' +user.apellidos %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/student/myprofile">Perfil</a></li>
                <li><a href="/student/practice">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>

            <% } else if (user.rol == "Profesor"){ %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.nombres + ' ' +user.apellidos %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/practice">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>
            <% } else if (user.rol == "Ayudante"){ %>
<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.nombres + ' ' +user.apellidos %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/practice">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>
            <% } else { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.nombres + ' ' +user.apellidos %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/users">Usuarios</a></li>
                <li><a href="/admin/courses">Cursos</a></li>
                <li><a href="/admin/practice">Ejercicios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>
            <% }  %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>