<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>

	<%- include('navbar.ejs') %>

	<div class="container pt-70">

		<h2 class ='align-center'>Curso Nuevo</h2> 

		<div class="row pt-20">
			<div class="col-md-offset-1 col-md-10">
				<form id="infoejercicio" method="POST">
					<div class="form-group">
						<label for="autocompletar-profesor" class="col-sm-2 control-label">Paralelo</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="id-paralelo" id="id-paralelo">
						</div>
					</div>


					<div class="form-group">
						<label for="autocompletar-profesor" class="col-sm-2 control-label">Profesor</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="autocompletar-profesor" id="autocompletar-profesor">
						</div>
					</div>

					<div class="form-group">
						<label for="autocompletar-estudiante" class="col-sm-2 control-label">Estudiantes</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="autocompletar-estudiante" id="autocompletar-estudiante">
						</div>
						<div class="col-sm-1">
							<button type=button class="btn btn-primary" id="agregar-un-estudiante" onclick="agregar_a_lista();">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>


				</form>

				<div class = 'row'>
					<p>qweqwe</p>
					<div class="align-center">
						<button type="submit" id="botonvalidacionx" class="btn btn-default common-btn">Crear Curso</button>
						<a type="submit" class="btn btn-default common-btn" href="#">Regresar a Cursos</a>
					</div>
				</div>

				<h4 class = 'mt-20'>Estudiantes seleccionados</h4>

				<ul class = 'list-unstyled' id="estudiantes-agregados">

				</ul>
			</div>
		</div>

		<h3> O... Subir un archivo </h3>
		<form action="../newcourse/archivo" method="post" enctype="multipart/form-data">
			<input type="file" name="archivocrear">
			<button type="submit"> Crear Curso </button>
		</form>

	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<%- include('footer.ejs') %>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {

		});

		function agregar_a_lista(){
			estudiante = $("#autocompletar-estudiante").val();
			cedula = estudiante.split(" - ")[1];
			$("#estudiantes-agregados").append('<div class="row"><li><div class="col-sm-10"><input size=100 type="text" name="'+cedula+'" value="'+estudiante+'" readonly></div><div class="col-sm-2"><button id="'+cedula+'" type=button onclick="eliminar_un_estudiante(event);" class="btn btn-danger" data-role="remove"> Eliminar </button></div></li></div>');
			$("#autocompletar-estudiante").val("");
		}

		function eliminar_un_estudiante(event){
			cadena = '"#'+event.target.id+'"';
			var elemento = $("#"+event.target.id);
			elemento.parent().parent().parent().remove();

		}

		$("#autocompletar-profesor").autocomplete({
			source: function(req, resp){
				$.ajax({
					method: "GET",
					url: "../users/usuarios/profesor",
					dataType: "json",
					data: {
						term: req.term
					},
					success: function( data ) {
						resp(data);
					}
				});
			},
			change: function(event,ui){
				if (!ui.item){ 
					$(this).val(''); 
				}
			}
		});

		$("#autocompletar-estudiante").autocomplete({
			source: function(req, resp){
				$.ajax({
					method: "GET",
					url: "../users/usuarios/estudiantes",
					dataType: "json",
					data: {
						term: req.term
					},
					success: function( data ) {
						resp(data);
					}
				});
			},
			change: function(event,ui){
				if (!ui.item){ 
					$(this).val(''); 
				}
			}
		});

	</script>
</body>
</html>


