<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>

	<div class = 'container pt-70 pb-20' id='reportes'>
		<div class = 'row pt-20 pb-20'>
			<h1 class = 'align-center pb-20'>Reportes</h1>
			<div class = 'col-md-6'>
				<h3 class = 'align-center'>Ejercicios resueltos por día</h3>
				<div class="container-fluid pt-20">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label for="date-start" class="col-md-3 col-form-label">Desde:</label>
								<div class="col-md-9">
									<input class="form-control" type="date" value="2011-08-19" id="date-start">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label for="date-finish" class="col-md-3 col-form-label">Hasta:</label>
							    <div class="col-md-9">
									<input class="form-control" type="date" value="2011-08-19" id="date-finish">
							    </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary inner">Generar</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- AQUI VA EL GRAFICO -->
						</div>
					</div>
				</div>
			</div>
			<div class = 'col-md-6'>
				<h3 class = 'align-center'>Ejercicios resueltos por curso</h3>
				<div class="container-fluid pt-20">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group row">
					    		<label for="cursoSelect" class="col-md-2 col-form-label">Curso: </label>
					    		<div class="col-md-9">
						    		<select class="form-control" id="cursoSelect">
										<option>Curso 1</option>
										<option>Curso 2</option>
										<option>Curso 3</option>
										<option>Curso 4</option>
										<option>Curso 5</option>
								    </select>
					    		</div>
						  	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary inner">Generar</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- AQUI VA EL GRAFICO -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('footer.ejs') %>

</body>
</html>